body{
    /* background-color: #00aeef; */
    background-image:url(../img/regen.jpg);
}

#jumbotron1{
    background-color: #000;
    border: 3px solid #fd0;
    margin-top: 35px;
    min-height: 50px;
    border-radius: 1000px;
    text-align: center;
}

#jumbotron2{
    background-color: #000 !important;
    border: 3px solid #fd0;
    margin-top: 35px;
    min-height: 50px;
    border-radius: 1000px;
    text-align: center;
}

#footer{
    background-color: #fd0;
    border: 2px solid #000000;
    margin-top: 0px;
    min-height: 10px;
    border-radius: 28px;
}

#navbar{
    background-color: #fd0;
    border: 2px solid #000000;
    margin-top: 5px;
    min-height: 10px;
    border-radius: 28px;
}
#foto_hoofd{
    margin: 0px 50px 0px 0px;
}

.card_V1{
    background-color: #000;
    color: #fd0;
    border: 2px solid #fd0;
    margin-top: 15px;
    border-radius: 60px;
    text-align: center;
}


.card_V2{
    background-color: #000;
    color: #fd0;
    border: 2px solid #fd0;
    margin-top: 15px;
    border-radius: 60px;
    text-align: center;
    /* height: 45px; */
    /* vertical-align: text-top; */
}



/* style voor de texten */
#nav_text_1{
    color: #000;
    font-family: 'Ubuntu', sans-serif;
}

#footer1{
    color: #000;
}

#footer2{
    color: #00aeef;
}

#Jumbotron_title{
    font-family: 'Monoton', cursive;
    color: #fd0;
}

#jumbotron_text{
    font-family: 'Ubuntu', sans-serif;
    color: #fd0 ;
}

mark.white {
    color:#fff;
    background: none;
}