/* de style voor de informatie tab */

body{
    background-color: #00aeef !important;
}

/* #content{
    background-color: #00fd00;
    border: 5px solid rgb(0, 0, 0);
    margin-top: 15px;
    min-height: auto;
    border-radius: 25px;
} */

#jumbotron1{
    background-color: #000;
    border: 3px solid #fd0;
    margin-top: 35px;
    min-height: 50px;
    border-radius: 1000px;
    text-align: center;
}

#jumbotron2{
    background-color: #000 !important;
    border: 3px solid #fd0;
    margin-top: 35px;
    min-height: 50px;
    border-radius: 1000px;
    text-align: center;
}

#footer{
    background-color: #fd0;
    border: 2px solid #000000;
    margin-top: 0px;
    min-height: 10px;
    border-radius: 28px;
}

#navbar{
    background-color: #fd0;
    border: 2px solid #000000;
    margin-top: 5px;
    min-height: 10px;
    border-radius: 28px;
    
}
#foto_hoofd{
    margin: 0px 50px 0px 0px;
}

.card{
    background-color: #000;
    color: #00aeef;
    border: 2px solid #fd0;
    margin-top: 15px;
    border-radius: 20px;
    
}

/* style voor de texten */
#nav_text_1{
    color: #000;
    font-family: 'Ubuntu', sans-serif;
}

#footer1{
    color: #000;
}

#footer2{
    color: #00aeef;
}

#Jumbotron_title{
    font-family: 'Monoton', cursive;
    color: #fd0;
}

#jumbotron_text{
    font-family: 'Ubuntu', sans-serif;
    color: #fd0 ;
}

mark.white {
    color:#fff;
    background: none;
}

#card_collapse_text{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}